[Unit]
Description=Container <%= @name %>

[Service]
StartLimitInterval=20
StartLimitBurst=5
TimeoutStartSec=0
RestartSec=5

User=<%= @user %>
Group=<%= @group %>

SyslogIdentifier=container-<%= @sanitised_title %>

ExecStartPre=-/usr/bin/podman pull <%= @image %>
ExecStartPre=-/usr/bin/podman kill <%= @sanitised_title %>
ExecStart=/usr/bin/podman run \
  <%= @container_run_flags %> \
  --name <%= @sanitised_title %> \
  <%= @image %> \
  <% if @command %> <%= @command %><% end %>
ExecStop=-/usr/bin/podman stop <%= @sanitised_title %>

[Install]
WantedBy=multi-user.target
